<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>BG Blogs</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, numquam hic blanditiis deserunt culpa modi impedit architecto corrupti amet, consequuntur libero quidem, soluta iure totam maiores. Voluptatum eos qui ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore consectetur rerum vero laudantium, maxime itaque fugiat culpa animi vitae recusandae nihil est neque sed delectus odio minima impedit, in eos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatum nisi asperiores dolore. Reprehenderit hic iste, modi iure autem eum sint aut itaque perferendis sit repellendus! Maxime aperiam reiciendis facere! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis expedita earum magni, quae fugit totam voluptatum et cumque exercitationem perspiciatis a labore repellendus optio nesciunt ipsum soluta esse nulla aperiam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat maxime odit optio quo aperiam eius cum molestiae sapiente impedit illum quis atque error, delectus rerum natus quisquam debitis laudantium architecto!</p>
    <button>See Posts</button>
</body>
</html>